<section class="banner">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>New item</h1>
				<nav class="d-flex align-items-center">
					<a href="<%= items_path %>">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="#">New item</a>
				</nav>
			</div>
		</div>
	</div>
</section>

<%= render 'form', item: @item %>


<div class="space"></div>