<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.first_name %> !</h1>
    <p>Tu viens tout juste d'effectuer une nouvelle commande sur notre boutique !</p>
    <p>Tu recevras ta commande sous peu de temps !</p>
    <p>N'hésite pas à parcourir notre boutique pour y trouver ton bonheur ! ;)</p></br>
    
    <p>Merci à toi et à bientôt sur gotmycat-picture.fr !</p>
  </body>
</html>