<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut à toi !</h1>
    <p>Une commande viens d'être effectuée par un utilisateur utilisant l'email : <%= @user.email%> 
    <p>Cet utilisateur <%= @user.first_name %> <%= @user.last_name %> a reçu les informations quant à la réception de sa commande.</p>
    <p>Celle-ci est désormais en cours de traitement.</p>
  </body>
</html>